.root {
    color: white;
    background-color: #000;
}

.container {
    margin: auto;
    max-width: 768px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 2rem
}

.lyric {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
