@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=M+PLUS+Rounded+1c&display=swap");

.root {
    color: white;
    background-color: #000;
    font-family: "IBM Plex Sans JP", sans-serif;
    font-size: 14px;
}

.container {
    margin: auto;
    max-width: 768px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin-top: 20px;
}
