#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#profile img {
    border-radius: 50%;
}

#profile nav {
    display: flex;
    gap: 1rem;
}
