---
import { css } from '../../styled-system/css';
import { grid } from '../../styled-system/patterns';
import { Link } from '../style/recipes/link.css';

import { getAllPosts } from '../lib/blog';

const allBlogPosts = await getAllPosts();
---

<div
  class={grid({
    gridTemplateColumns: { base: 2 },
    gap: 3,
    mt: 3
  })}
>
  {
    allBlogPosts.slice(0, 4).map((post) => (
      <article class={css({ border: '1px dashed gray', p: 3 })}>
        <p
          class={css({
            fontSize: 12,
            textStyle: 'body',
            color: 'gray'
          })}
        >
          {post.date}
        </p>
        <a href={`/blog/${post.slug}`} class={Link({})}>
          <p
            class={css({
              fontSize: 16,
              textStyle: 'body'
            })}
          >
            {post.title}
          </p>
        </a>
        <p
          class={css({
            textStyle: 'caption',
            color: 'gray'
          })}
        >
          {post.tags.map((item) => `#${item} `)}
        </p>
      </article>
    ))
  }
</div>
