---
import Layout from '../organisms/Layout.astro';
import { css } from '../../styled-system/css';
import { center, grid } from '../../styled-system/patterns';
import { getAllPosts } from '../lib/blog';

const allBlogPosts = await getAllPosts();
---

<Layout title="m1sk9's blog" description="m1sk9's blog">
  <body>
    <div
      class={center({
        flexDirection: 'column',
        h: 'full',
        mb: 10,
        gap: 3
      })}
    >
      <h1 class={css({ textStyle: 'h1' })}>Blog</h1>
    </div>
    <div
      class={grid({
        gridTemplateColumns: { base: 2 },
        gap: 3,
        mt: 3
      })}
    >
      {
        allBlogPosts.map((post) => (
          <article class={css({ border: '1px dashed gray', p: 3 })}>
            <a href={`/blog/${post.slug}`}>
              <p
                class={css({
                  fontSize: 12,
                  textStyle: 'body',
                  color: 'gray'
                })}
              >
                {post.date}
              </p>
              <p
                class={css({
                  fontSize: 16,
                  textStyle: 'body'
                })}
              >
                {post.title}
              </p>
              <p
                class={css({
                  textStyle: 'caption',
                  color: 'gray'
                })}
              >
                {post.tags.map((item) => `#${item} `)}
              </p>
            </a>
          </article>
        ))
      }
    </div>
  </body>
</Layout>
