---
import Layout from '../organisms/Layout.astro';
import { css } from '../../styled-system/css';
import { center, grid } from '../../styled-system/patterns';

const allBlogPosts = await Astro.glob('./blog/posts/*.md');
---

<Layout title="m1sk9's blog" description="m1sk9's blog">
  <body>
    <div
      class={center({
        flexDirection: 'column',
        h: 'full',
        mb: 10,
        gap: 3
      })}
    >
      <h1 class={css({ textStyle: 'h1' })}>Blog (Back number)</h1>
    </div>
    <div>
      <div class={grid({ gridTemplateColumns: 1, gap: 3, mt: 3 })}>
        {
          allBlogPosts
            .sort(
              (a, b) =>
                new Date(b.frontmatter.date).getTime() -
                new Date(a.frontmatter.date).getTime()
            )
            .filter((post) => post.frontmatter.published)
            .map((post) => (
              <div>
                <a href={post.url}>
                  <p
                    class={css({
                      textStyle: 'body'
                    })}
                  >
                    {post.frontmatter.title}
                  </p>
                </a>
                <p
                  class={css({
                    textStyle: 'body',
                    lineHeight: 'none',
                    color: 'gray'
                  })}
                >
                  {post.frontmatter.description}
                </p>
              </div>
            ))
        }
      </div>
    </div>
  </body>
</Layout>
