---
import Layout from '../organisms/Layout.astro';
import { css } from '../../styled-system/css';
import { center } from '../../styled-system/patterns';
import BlogPostList from '../molecules/BlogPostList.astro';
---

<Layout title="m1sk9's blog" description="m1sk9's blog">
  <body>
    <div
      class={center({
        flexDirection: 'column',
        h: 'full',
        mb: 10,
        gap: 3
      })}
    >
      <h1 class={css({ textStyle: 'h1' })}>Blog</h1>
    </div>
    <BlogPostList />
  </body>
</Layout>
