---
import Layout from '../organisms/Layout.astro';
import { css } from '../../styled-system/css';
import { center } from '../../styled-system/patterns';

import BlogPostList from '../molecules/BlogPostList.astro';
import ProjectList from '../molecules/ProjectList.astro';
import ContactList from '../molecules/ContactList.astro';
---

<Layout title="m1sk9's portfolio">
  <body>
    <div
      class={center({
        flexDirection: 'column',
        h: 'full',
        mb: 10
      })}
    >
      <img
        class={css({ borderRadius: 50 })}
        src="./icon.jpg"
        width="100"
        height="100"
        alt="m1sk9 ã®ã‚¢ã‚¤ã‚³ãƒ³"
      />
      <h1 class={css({ textStyle: 'h1', mt: 2 })}>Hi there! ðŸ‘‹</h1>

      <div class={css({ textStyle: 'body', mt: 5 })}>
        <p>I'm m1sk9.</p>
        <p>
          I'm an engineer studying computer science at university. I like
          statically typed languages. I often write TypeScript and Rust.
        </p>
      </div>
    </div>

    <div>
      <h2 class={css({ textStyle: 'h2' })}>Contact</h2>
      <ContactList />
    </div>

    <div class={css({ mt: 10 })}>
      <h2 class={css({ textStyle: 'h2' })}>Projects</h2>
      <ProjectList />
    </div>

    <div class={css({ mt: 10 })}>
      <h2 class={css({ textStyle: 'h2' })}>Latest Articles</h2>
      <BlogPostList />
    </div>
  </body>
</Layout>
