---
import Layout from '../organisms/Layout.astro';
import { css } from '../../styled-system/css';
import { BodyLayout } from '../lib/layout';
import { ItemLayout } from '../style/recipes/layout.css';

import BlogPostList from '../molecules/BlogPostList.astro';
import ProjectList from '../molecules/ProjectList.astro';
import { LyricRoll } from '../molecules/LyricRoll.tsx';
---

<Layout title="m1sk9's portfolio">
  <body>
    <div class={ItemLayout({ type: 'centerAlign' })}>
      <img
        class={css({ borderRadius: 50 })}
        src="./icon.jpg"
        width="100"
        height="100"
        alt="m1sk9 のアイコン"
      />
      <h1 class={css({ textStyle: 'h1', mt: 2 })}>m1sk9</h1>
    </div>

    <div class={BodyLayout()}>
      <div>
        <h2 class={css({ textStyle: 'h2' })}>Projects</h2>
        <ProjectList />
      </div>

      <div>
        <h2 class={css({ textStyle: 'h2' })}>Latest Articles</h2>
        <BlogPostList />
      </div>
    </div>

    <LyricRoll client:load />
  </body>
</Layout>
