---
import Layout from '../layouts/Layout.astro';
import { css } from '../../styled-system/css';
---

<Layout title="Home">
  <body>
    <h1 class={css({ fontSize: '4xl' })}>LINE Seed</h1>
    <h1 class={css({ fontSize: '4xl' })}>こんにちは</h1>
  </body>
</Layout>
