---
import { css } from '../../styled-system/css';
import { center, grid } from '../../styled-system/patterns';
import { readFile } from 'fs/promises';

import Layout from '../organisms/Layout.astro';

interface LinksProps {
  title: string;
  id: string;
  url: string;
  iconId: string;
}

const linksList: LinksProps[] = JSON.parse(
  await readFile('public/data/links-data.json', 'utf-8')
);
---

<Layout title="Links">
  <body>
    <div
      class={center({
        flexDirection: 'column',
        h: 'full',
        mb: 10,
        gap: 3
      })}
    >
      <h1 class={css({ textStyle: 'h1' })}>Links</h1>
    </div>

    <div
      class={css({
        display: 'flex',
        flexDirection: 'column',
        mt: 3,
        gap: 3
      })}
    >
      {
        linksList.map((item) => {
          return (
            <p
              class={css({
                textStyle: 'body'
              })}
            >
              {item.title}:
              <a
                href={item.url}
                class={css({
                  textDecoration: 'underline'
                })}
              >
                {item.id}
              </a>
            </p>
          );
        })
      }
    </div>
  </body>
</Layout>
