---
import { css } from '../../styled-system/css';
import { Link } from '../style/recipes/link.css';
import { ItemLayout } from '../style/recipes/layout.css';

import { readFile } from 'fs/promises';

import Layout from '../organisms/Layout.astro';

interface LinksProps {
  title: string;
  id: string;
  url: string;
  iconId: string;
}

const linksList: LinksProps[] = JSON.parse(
  await readFile('public/data/links-data.json', 'utf-8')
);
---

<Layout title="Links">
  <body>
    <div class={ItemLayout({})}>
      <h1 class={css({ textStyle: 'h1' })}>Links</h1>
    </div>

    <div
      class={css({
        display: 'flex',
        flexDirection: 'column',
        mt: 3,
        gap: 3
      })}
    >
      {
        linksList.map((item) => {
          return (
            <p
              class={css({
                textStyle: 'body'
              })}
            >
              {item.title}:
              <a href={item.url} class={Link({})}>
                {item.id}
              </a>
            </p>
          );
        })
      }
    </div>

    <div class={css({ mt: 10 })}>
      <a href="https://yude.jp">
        <img src="https://www.yude.jp/banner_new.png" , alt="yude.jp banner" />
      </a>
    </div>
  </body>
</Layout>
