---
import { css } from '../../styled-system/css';
import { center } from '../../styled-system/patterns';

import Layout from './Layout.astro';

interface Props {
  frontmatter: {
    title: string;
    description: string;
    published: boolean;
    published_at: string;
  };
}
const { title, description, published_at } = Astro.props.frontmatter;
---

<Layout title=`${title} - m1sk9's blog` description={description}>
  <body>
    <div
      class={center({
        flexDirection: 'column',
        h: 'full',
        mb: 10,
        gap: 3
      })}
    >
      <h1 class={css({ textStyle: 'h1' })}>{title}</h1>
      <p class={css({ textStyle: 'body', fontSize: '16px' })}>{description}</p>
      <p class={css({ textStyle: 'body', fontSize: '16px', color: 'gray' })}>
        {
          new Intl.DateTimeFormat('en-US', {
            dateStyle: 'long'
          }).format(new Date(published_at))
        }
      </p>
    </div>
    <article>
      <slot />
    </article>
  </body>
  <style>
    article {
      font-family: 'LINE Seed';
      font-size: 16px;
    }

    article :global(h1) {
      font-size: 30px;
      border-bottom: 1px solid gray;
      margin: 0.75rem 0;
    }

    article :global(h2) {
      font-size: 24px;
      border-bottom: 1px solid gray;
      margin: 0.75rem 0;
    }

    article :global(h3) {
      font-size: 20px;
      border-bottom: 1px solid gray;
      margin: 0.75rem 0;
    }

    article :global(p) {
      margin-top: 12px;
      margin-bottom: 12px;
    }

    article :global(ol) {
      list-style: decimal;
      list-style-position: inside;
    }

    article :global(ul) {
      list-style: disc;
      list-style-position: inside;
    }

    article :global(blockquote) {
      border: 1px solid gray;
      border-radius: 10px;
      padding-left: 20px;
    }

    article :global(a) {
      text-decoration: underline;
      color: aqua;
    }

    article :global(a:hover) {
      color: pink;
    }

    article :global(code) {
      margin: 1rem 0;
    }

    article :global(iframe) {
      max-width: 100%;
      max-height: auto;
    }
  </style>
</Layout>
